<!--
  Componente principal da aplicação Angular.
  Estrutura base da interface, incluindo menu lateral (po-menu) e navegação por rotas (router-outlet).
-->
<div class="po-wrapper">
  <!--
    po-menu: Componente de menu lateral da biblioteca PO UI.
    [p-collapsed]: Controla se o menu está recolhido ou expandido.
    p-logo: Logo exibido no topo do menu.
    [p-menus]: Lista de itens do menu, definida no componente TypeScript.
  -->
  <po-menu
      [p-collapsed]="poMenuCollapsed"
      p-logo="assets/images/totvs-logo.svg"
      [p-menus]="poMenuItems">
  </po-menu>    
  <!--
    router-outlet: Ponto de inserção dos componentes de rota.
    Exibe o conteúdo da página conforme a rota selecionada.
    Essencial para navegação entre páginas/views no Angular.
  -->
  <router-outlet></router-outlet>
</div>

<!--A propriedade class="po-wrapper" define uma classe CSS para o elemento <div>.
No contexto do PO UI (Portinari UI), po-wrapper geralmente é usada para aplicar estilos de layout padrão, como margens, preenchimento, largura, ou organização visual da área principal da aplicação.

Ou seja, ela serve para garantir que o conteúdo dentro da <div> siga o padrão visual e estrutural definido pela biblioteca PO UI, deixando a interface mais organizada e consistente.-->